@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CURSO DE FÉRIAS</h1>
    <h3 class="display-4">Site construito para desmontração de como consumir uma web api .Net Core</h3>
    <img  src="~/Imagem/Logo_ftt.png" />
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>